{% extends 'master.html' %}
{% block headertitle %}
            <h1>Registrieren</h1>
{% endblock %}


{% block content %}
<div class="flex-container" id="body-container">
    <div class="detail-column" id="single-column">  
        <div class="card input-container">
            <div class="info-header-container">
                <h2>Registrieren</h2>
            </div>
            <div class="card-info-container">
                <p>Hawara, du bist schon registriert...</p>
                <p>Du bist sogar schon eingeloggt...</p>
                <a href="/" class="button">Go home, you're drunk!</a>
            </div>
        </div>
    </div>
</div>

{% endblock content%}