{% extends 'master.html' %}
{% block headertitle %}
    <h1>{% if form.instance.ort %} {{ form.instance.ort }} {% else %} Neuer Auslagerort {% endif %} </h1>
{% endblock %}

{% block content %}
<div class="flex-container" id="body-container">
    <div class="detail-column" id="single-column">  
        <div class="card input-container" id="auslagerorte-form">
            <div class="info-header-container">
                <h2>Auslagerort {{action}}</h2>
            </div>
            <div class="card-info-container">
                <form method="post" novalidate class="">
                    {%csrf_token %}
                    {% for field in form %}
                        {% if field.name == 'completed' %}
                            <p>
                                {{ field.label_tag }}
                                {{ field }}
                            </p>
                            {% if field.errors %}
                                <small class="error">{{ field.errors|striptags  }}</small> 
                            {% endif %}
                        {% else %}
                            {{ field.label_tag }} 
                            {{ field }}
                            {% if field.errors %}
                                <small class="error">{{ field.errors|striptags  }}</small> 
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <div class="form-buttons">
                        <input type="submit" value="Speichern" class="button"/>
                        <a href="{%url 'auslagerorte-list' %}" class="button">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content%}