{% extends 'master.html' %}
{% load static %}
{% block headertitle %}
<div class="" id="header-container">
  <a href="/admin/budo_app/auslagerorte/{{ort.id}}/change/">
    <h1>{{ ort }}</h1>
  </a>
</div>
{% endblock %}
{% block extrahead %}
{% include "components/mapheader.html" %}
<script src="{% static 'js/image-gallery.js' %}"></script>
{% endblock %}
{% block content %}
<div class="flex-container auslagerorte-detail" id="body-container">

  <div class="detail-column" id="left-column">
    <div class="card" id="ort-detail-info">
      <div class="info-header-container">
        <h2>{{ ort }}</h2>{% include "components/openicon.html" %}
      </div>
      <div class="card-info-container">
        {% if ort.name %}<p><span class="label">Name</span>: {{ ort.name }}</p>{% endif %}
        {% if ort.beschreibung %}<p><span class="label">Beschreibung</span>: {{ ort.beschreibung }}</p>{% endif %}
        {% if ort.koordinaten %}<p><span class="label">Koordinaten</span>: {{ ort.koordinaten }}</p>{% endif %}
        {% if ort.maps_link %}<p><span class="label">Google Maps Link</span>: <a href="{{ ort.maps_link }}">Link</a></p>
        {% endif %}
        {% if ort.maps_link_parkspot %}<p><span class="label">Google Maps Link Parkspot</span>: <a
            href="{{ ort.maps_link_parkspot }}">Link</a></p>{% endif %}
        {% if ort.koordinaten_parkspot %}<p><span class="label">Koordinaten Parkspot</span>:
          {{ ort.koordinaten_parkspot }}</p>{% endif %}
        {% if ort.strasse %}<p><span class="label">Straße</span>: {{ ort.strasse }}</p>{% endif %}
        {% if ort.ort %}<p><span class="label">Stadt</span>: {{ ort.ort }}</p>{% endif %}
        {% if ort.bundesland %}<p><span class="label">Bundesland</span>: {{ ort.bundesland }}</p>{% endif %}
        {% if ort.postleitzahl %}<p><span class="label">Postleitzahl</span>: {{ ort.postleitzahl }}</p>{% endif %}
        {% if ort.land %}<p><span class="label">Land</span>: {{ ort.land }}</p>{% endif %}
        <div class="button-container">

          <a href="{% url 'auslagerorte-update' pk=ort.pk %}" class="button">Ort bearbeiten</a>


        </div>
      </div>
    </div>
    <div class="card" id="auslagernotizen">
      <div class="info-header-container">
        <h2>Kommentare</h2>{% include "components/openicon.html" %}
      </div>
      <div class="card-info-container">
        <ul>
          {% for notiz in ort.auslagernotizen.all %}
          <li>
            <p><strong>{{ notiz.added_by.username }}</strong> am {{ notiz.date_added|date:"d.m." }}:
              <p>{{ notiz.notiz }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="detail-column" id="right-column">
    <div class="card" id="image-gallery">
      <div class="info-header-container">
        <h2>Bilder</h2>

        {% include "components/openicon.html" %}
      </div>
      <div class="card-info-container">
        <div class="gallery-container">
          {% for image in ort.images.all %}
          <div class="gallery-item" style="background-image: url('{{ image.image.url }}')"
            data-index="{{ forloop.counter0 }}">
            <img src="{{ image.image.url }}" alt="Image of {{ ort.name }}">
          </div>
          {% endfor %}
        </div>
        <div class="button-container">
          <a href="{% url 'auslagerorte-image-upload' pk=ort.pk %}" class="button">Bilder hochladen</a>
        </div>
      </div>
    </div>
    {% include "components/map.html" %}
  </div>
</div>

<div id="interaction-bar">
  <div id="interaction-input">
    {% block forminput %}
    <form method="post">
      {%csrf_token %}
      <div id="auslagernotiz-form">{{ auslagernotiz_form.as_p }}</div>
      <button type="submit">Hinzufügen</button>
    </form>
    {% endblock %}
  </div>
</div>

<div id="fullscreen-modal" class="fullscreen-modal">
  <span class="close-modal">&times;</span>
  <div class="image-modal-content">
    <img id="fullscreen-image" src="" alt="Fullscreen image">
  </div>
  <button class="nav-button prev">&lt;</button>
  <button class="nav-button next">&gt;</button>
</div>
{% endblock content %}