{% extends 'master.html' %}
{% load static %}
{% block headertitle %}

<h1>Auslagerorte</h1>

{% endblock %}
{% block headerbutton %}
<a href="/auslagerorte/create" class="button">Ort hinzufügen</a>
{% endblock %}
{% block extrahead %}
{% include "components/mapheader.html" %}
{% endblock %}
{% block content %}
<div class="flex-container" id="body-container">
    <div class="detail-column" id="left-column">
        {% include "components/map.html" %}
    </div>
    <div class="detail-column normal-column" id="right-column">
        <div class="table-container">
            <table class="" id="kids-table">
                <tr class="table-header">
                    <th class="headcol">Name</th>
                    <th>Wo</th>
                    <th>Parkspot</th>
                    <th>Aktionen</th>
                </tr>
                {% for x in auslagerorte.all %}
                <tr class="table_row w3-padding-large">
                    <td class="text-cell headcol" id="name"><a href="/auslagerorte/{{ x.id }}"> {{x.name}} </a></td>
                    <td class="text-cell"><a href="{{x.maps_link}}"> Google Maps </a></td>
                    <td class="text-cell">{% if x.maps_link_parkspot %}<a href="{{x.maps_link_parkspot}}"> Google
                            Maps</a> {% else %} -- {% endif %} </td>
                    <td>
                        <a href="{% url 'auslagerorte-update' pk=x.id %}">✏️</a>
                        <a href="{% url 'auslagerorte-detail' pk=x.id %}">👁️</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}