{% extends 'master.html' %}
{% load static %}
{% block headertitle %}

<h1>Auslagerorte</h1>

{% endblock %}
{% block headerbutton %}
<a href="/auslagerorte/create" class="button">Ort hinzufügen</a>
{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
{% block content %}
<div class="flex-container" id="body-container">
    <div class="detail-column" id="left-column">
        <div id="map"></div>
        {{ auslagerorte_json|json_script:"map-data" }}
    </div>
    <div class="detail-column normal-column" id="right-column">
        <div class="table-container">
            <table class="" id="kids-table">
                <tr class="table-header">
                    <th class="headcol">Name</th>
                    <th>Wo</th>
                    <th>Parkspot</th>
                    <th>Aktionen</th>
                </tr>
                {% for x in auslagerorte.all %}
                <tr class="table_row w3-padding-large">
                    <td class="text-cell headcol" id="name"><a href="/auslagerorte/{{ x.id }}"> {{x.name}} </a></td>
                    <td class="text-cell"><a href="{{x.maps_link}}"> Google Maps </a></td>
                    <td class="text-cell">{% if x.maps_link_parkspot %}<a href="{{x.maps_link_parkspot}}"> Google
                            Maps</a> {% else %} -- {% endif %} </td>
                    <td>
                        <a href="{% url 'auslagerorte-update' pk=x.id %}">✏️</a>
                        <a href="{% url 'auslagerorte-detail' pk=x.id %}">👁️</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}