{% extends "master.html" %} {% block title %} BuDo Kid Info {% endblock %} 
{% block headertitle %}

<div class="flex-container">
  <a href="/admin/budo_app/kinder/{{Kinder.id}}/change/"
    ><h1>{{ Kinder.kid_vorname }} {{ Kinder.kid_nachname }}</h1>
  </a>
</div>
{% endblock %} 
{% block content %} 
    {% block forminput %}
<div class="info_container input_container">
  <h1>Check-In</h1>
  <p style="color: red">Dieses Kind ist noch nicht eingecheckt!.</p>
  <form method="post">
    {%csrf_token %} {{ check_in_form.as_p }} {{ notiz_form.as_p }}
    <button type="submit">Einchecken</button>
  </form>
</div>

{% endblock %} {% endblock %}
