{% extends "master.html" %} {% block title %} BuDo Kid Info {% endblock %}
{% block headertitle %}

<div class="flex-container">
  {% if perms.budo_app.change_kinder %}
  <a href="/admin/budo_app/kinder/{{Kinder.id}}/change/">
    <h1>{{ Kinder.kid_vorname }} {{ Kinder.kid_nachname }}{% if not Kinder.anwesend %} ❌{% endif %}</h1>
  </a>
  {% else %}
  <h1>{{ Kinder.kid_vorname }} {{ Kinder.kid_nachname }}{% if not Kinder.anwesend %} ❌{% endif %}</h1>
  {% endif %}
</div>

{% endblock %}
{% block content %}
<div class="flex-container" id="body-container">
  <div class="detail-column" id="single-column">
    <div class="card input-container">
      <div class="info-header-container">
        <h2>Check-Out: {{ Kinder.kid_vorname }} {{ Kinder.kid_nachname }}</h2>
      </div>
      <div class="card-info-container">
        <p style="color: green">{{ Kinder.kid_vorname }} {{ Kinder.kid_nachname }} ist anwesend.</p>
        <p>Wir hatten vom Kind folgendes:</p>
        <ul>
          {% if Kinder.e_card == True %}
          <li>E-Card</li>
          {% endif %}
          {% if Kinder.ausweis == True %}
          <li>Ausweis</li>
          {% endif %}
          {% if Kinder.einverstaendnis_erklaerung == True %}
          <li>Einverständniserklärung</li>
          {% endif %}
          {% if Kinder.get_taschengeld_sum > 0 %}
          <li>Taschengeld: {{Kinder.get_taschengeld_sum|floatformat:2 }}€</li>
          {% endif %}
        </ul>
        {% block forminput %}
        <form method="POST" class="w3-container">
          {{ check_out_form.as_p }}
          {{ notiz_form.as_p }}
          {{geld_form.as_p}}
          {% csrf_token %}
          <button type="submit">Auschecken</button>
        </form>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}