{% extends "master.html" %}

{% block title %}
  BuDo Kids Alle Kinder meiner Mama
{% endblock %}

{% block headertitle %}
  {%if family %}
    <h1>{{ family.title }}s</h1>
  {% else %}
    <h1><a href="https://www.youtube.com/watch?v=D9K-bA_MRTM">Alle Kinder</a></h1>
  {% endif %}
{% endblock %}

{% block content %}
  {% load static %}
  <script src="{% static 'js/filtertable.js' %}"></script>
  <div class="w3-container table-only" id="body-container">
    {% include 'filter-table.html' %}
    <div class="table-container">
        <table class="" id="kids-table">
            <tr class="table-header">
                <th class="headcol">Name</th>
                <th>Familie</th>
                <th>⚧</th>
                <th>Alter</th>
                <th>Wochen</th>
                <th>Geschwister</th>
                <th>Zeltwunsch</th>
                <th>Ernährung </th>
                <th>Medikamente</th>
                <th>Gesundheitliches</th>
                <th>Anmerkungen</th>
                <th>Anmerkungen (Buchung)</th>
            </tr>
            {% for x in kids %}
            <tr class="table_row w3-padding-large">
                  <td class="text-cell headcol" id="name"><a href="/kid_details/{{ x.id }}">
                    {{ x.kid_vorname }} {{ x.kid_nachname }}{% if not x.anwesend %} ❌{% endif %}</a></td>
                  <td class="item-cell budo_family">{{ x.budo_family }}</td>
                  <td class="item-cell sex">{{ x.get_short_sex }}</td>
                  <td class="number-cell" id="alter"> {% if x.is_birthday_during_turnus %}🥳 {% endif %} {{ x.get_alter }}</td>
                  <td class="number-cell">{{ x.turnus_dauer }}</td>
                  <td class="text-cell">{{ x.geschwister }}</td>
                  <td class="text-cell">{{ x.zeltwunsch }}</td>
                  <td class="text-cell">{{ x.get_food }}</td>
                  <td class="text-cell">{% if x.get_clean_drugs %}{{ x.get_clean_drugs }}{% else %} --- {% endif%} </td>
                  <td class="text-cell">{% if x.get_clean_illness %}{{ x.get_clean_illness }}{% else %} --- {% endif%}</td>
                  <td class="text-cell">{% if x.get_clean_anmerkung %}{{ x.get_clean_anmerkung|safe }}{% else %} --- {% endif%}</td>
                  <td class="text-cell">{% if x.get_clean_anmerkung_buchung %}{{ x.get_clean_anmerkung_buchung|safe }}{% else %} --- {% endif%}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
  </div>
{% endblock %}