{% extends 'master.html' %}
{% block headertitle %}
<h1>Küche</h1>
{% endblock %}

{% block headerbutton %}

{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock %}

{% block content %}
<div class="flex-container" id="body-container">
  <div class="table-column normal-column" id="left-column">

    {% for week, week_data in meal_counts.items %}
    <div class="card transparent meal-card" id="db-{{ week }}">
      <div class="info-header-container">
        <h2>Menüplan Woche {% if week == "w1" %}1{% else %}2{% endif %}</h2>{% include "components/openicon.html" %}
      </div>
      <div class="card-info-container meal-container table-container">
        {% for day, meals in week_data.items %}
        <div class="card transparent meal-card" id="card-{{ week }}-{{day}}">
          <div class="info-header-container">
            <h2>Tag {{ day }}</h2>
            {% include "components/openicon.html" %}
          </div>
          <div class="card-info-container">
            <div class="meal-container">
              <table class="meal-table" id="meals-table-{{ week }}-{{ day }}">
                <tr class="table-header">
                  <th class="text-cell">Essen</th>
                  <th class="number-cell">Box</th>
                  <th class="number-cell">BuDo</th>
                  <th class="number-cell">Warm</th>
                  <th class="number-cell">Kochportionen</th> <!-- New column header -->
                </tr>
                <tr>
                  <td class="text-cell">Frühstück</td>
                  <td class="number-cell">
                    {% if meals.breakfast.box %}
                    {{ meals.breakfast.box|join:"<br>"|safe }}
                    {% else %}
                    ---
                    {% endif %}
                  </td>
                  <td class="number-cell">
                    {% if meals.breakfast.budo %}
                    {{ meals.breakfast.budo|join:"<br>"|safe }}
                    {% else %}
                    ---
                    {% endif %}
                  </td>
                  <td class="number-cell">
                    {% if meals.breakfast.warm %}
                    {{ meals.breakfast.warm|join:"<br>"|safe }}
                    {% else %}
                    ---
                    {% endif %}
                  </td>
                  <td class="number-cell">
                    {% if meals.breakfast.kochportionen %}
                    {{ meals.breakfast.kochportionen|join:"<br>"|safe }}
                    {% else %}
                    ---
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td class="text-cell">Mittagessen</td>
                  <td class="number-cell">
                    {% if meals.lunch.box %}
                    {{ meals.lunch.box|join:"<br>"|safe }}
                    {% else %}
                    ---
                    {% endif %}
                  </td>
                  <td class="number-cell">
                    {% if meals.lunch.budo %}
                    {{ meals.lunch.budo|join:"<br>"|safe }}
                    {% else %}
                    ---
                    {% endif %}
                  </td>
                  <td class="number-cell">
                    {% if meals.lunch.warm %}
                    {{ meals.lunch.warm|join:"<br>"|safe }}
                    {% else %}
                    ---
                    {% endif %}
                  </td>
                  <td class="number-cell">
                    {% if meals.lunch.kochportionen %}
                    {{ meals.lunch.kochportionen|join:"<br>"|safe }}
                    {% else %}
                    ---
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td class="text-cell">Abendessen</td>
                  <td class="number-cell">
                    {% if meals.dinner.box %}
                    {{ meals.dinner.box|join:"<br>"|safe }}
                    {% else %}
                    ---
                    {% endif %}
                  </td>
                  <td class="number-cell">
                    {% if meals.dinner.budo %}
                    {{ meals.dinner.budo|join:"<br>"|safe }}
                    {% else %}
                    ---
                    {% endif %}
                  </td>
                  <td class="number-cell">
                    {% if meals.dinner.warm %}
                    {{ meals.dinner.warm|join:"<br>"|safe }}
                    {% else %}
                    ---
                    {% endif %}
                  </td>
                  <td class="number-cell">
                    {% if meals.dinner.kochportionen %}
                    {{ meals.dinner.kochportionen|join:"<br>"|safe }}
                    {% else %}
                    ---
                    {% endif %}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        {% endfor %}


      </div>
    </div>
    {% endfor %}
  </div>
  <div class="detail-column normal-column" id="right-column">
    <div class="card closed-card" id="db-essen">
      <div class="info-header-container">
        <h2>Essen & Allergien</h2>{% include "components/openicon.html" %}
      </div>
      <div class="card-info-container">
        {% for kid in kids %}
        <div class="print-nobreak">
          {% if kid.get_clean_special_food %}
          <p><span class="label"><a href="/kid_details/{{ kid.id }}">{{kid.kid_vorname|safe}}
                {{kid.kid_nachname|safe}}</a></span>: {% if kid.get_veggie|length < 2 %}
            {{kid.get_veggie}} // {% endif %} {{kid.get_alter}} {% if not kid.budo_erfahrung %}// Erstes Mal
            BuDo{% endif %} </p>
          {% if kid.get_veggie|length >= 2 %}<p>Veggie: {{kid.get_veggie}} </p> {% endif %}
          <p>{{ kid.get_clean_special_food }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="card" id="db-team">
      <div class="info-header-container">
        <h2>Team</h2>{% include "components/openicon.html" %}
      </div>
      <div class="card-info-container">
        {% for teamer in team %}
        <p><span class="label">{{teamer.rufname}}</span>: {{ teamer.get_food }}</p>
        {% if teamer.allergien %}<li><span class="label">Allergien</span>: {{ teamer.allergien }}</li>
        {% endif %}
        {% if teamer.user.email %}<li><span class="label">Email</span>: <a
            href="mailto:{{teamer.user.email}}">{{teamer.user.email}}</a></li>{% endif %}
        {% if teamer.telefonnummer %}<li><span class="label">Mobil</span>: <a
            href="tel:{{teamer.telefonnummer}}">{{teamer.telefonnummer}}</a></li>{% endif %}
        {% endfor %}
      </div>
    </div> <!-- end of team card -->
    {% for week, week_data in meal_counts.items %}
    <div class="card transparent meal-card" id="db-{{ week }}">
      <div class="info-header-container">
        <h2>Schwerpunktinfos Woche {% if week == "w1" %}1{% else %}2{% endif %}</h2>
        {% include "components/openicon.html" %}
      </div>
      <div class="card-info-container meal-container table-container">
        <div class="schwerpunkt-container">
          {% for swp in schwerpunkte %}
          {% if swp.schwerpunktzeit.woche == week %}
          <div class="card swp-card" id="swp-{{ swp.swp_name }}">
            <div class="info-header-container">
              <div class="swp-info">
                <h2>{{ swp.swp_name }}</h2>
                <p>{{ swp.ort}}</p>
              </div>
              {% include "components/openicon.html" %}
            </div>
            <div class="card-info-container">
              <div class="card-table-container">
                <table class="card-table">
                  <tr>
                    <th></th>
                    <th class="text-cell">Frühstück</th>
                    <th class="text-cell">Mittagessen</th>
                    <th class="text-cell">Abendessen</th>
                  </tr>

                  {% for day, meals in swp.get_meals_by_day.items %}
                  <tr>
                    <td class="nowrap text-cell">Tag {{ day }}</td>
                    {% for meal in meals %}
                    <td class="text-cell">{{ meal.meal_choice }}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </table>
              </div>
              <p>Vegetarier: {{ swp.get_vegetarische_kids }}</p>
              <p>Fleisch: {{ swp.get_fleischkids }}</p>
              <p>Unverträglichkeiten:</p>
              <ul>
                {% for kid in swp.swp_kinder.all %}
                {% if kid.get_clean_special_food %}
                <li>{{ kid.kid_vorname }}: {{ kid.get_clean_special_food }}</li>
                {% endif %}
                {% endfor %}
                {% for trainer in team %}
                {% if swp in trainer.swp.all and trainer.allergien %}
                <li>{{ trainer.rufname }}: {{ trainer.allergien }}</li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div> <!-- end of right column -->
</div> <!-- end of body container -->
{% endblock content %}