{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
  {% block header %}
  {% endblock %}
</head>
<body>
  <!-- Menubar Content -->
  <!-- Mobile menue -->
  <div class="w3-sidebar w3-bar-block w3-border-right w3-animate-left" style="display:none" id="mySidebar">
    <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
    {% include 'navbar.html' %}
  </div>
  
  <!-- Desktop Menu -->
  <div class="" id="headermenu">
    <button class="w3-button w3-teal w3-xlarge w3-hide-large w3-hide-medium" onclick="w3_open()">☰</button>
    <div class="w3-container" id="header-content">
      <div id="logo">
        <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M26.6287 20.7499L15.0825 0.749945C14.9728 0.559936 14.815 0.402152 14.625 0.292452C14.435 0.182752 14.2194 0.125 14 0.125C13.7806 0.125 13.565 0.182752 13.375 0.292452C13.185 0.402152 13.0272 0.559936 12.9175 0.749945L1.37 20.7499H0.25V23.2499H27.75V20.7499H26.6287ZM8.5 20.7499H4.2575L14 3.87494L23.7425 20.7499H19.5L14 10.7499L8.5 20.7499ZM14 15.9374L16.6462 20.7499H11.355L14 15.9374Z" fill="black"/>
          </svg>
        </div>
        <div id="headertitle">
          {% block headertitle %}
            <h1>My Page</h1>
          {% endblock %}
        </div>
        <div id="headersearch">
          {% include 'filter_search.html' %}
        </div>
        <div class="desktop-navbar w3-hide-small">
            {% include 'navbar.html' %}
        </div>
        <div id="headerbutton">
          {% block headerbutton %}
          {% endblock %}
        </div>
    </div>
  </div>
  
  <script>
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
    }
    
    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
    }
    </script>
<div class="w3-margin-32">
{% block content %}
{% endblock %}
</div>

<div class="overlay" id="overlay" style="display: none;">
  <div class="number-pad">
    <p>Enter 4-digit PIN:</p>
    <input type="password" id="pinInput" maxlength="4" readonly>
    <br>
    <button onclick="enterDigit(1)">1</button>
    <button onclick="enterDigit(2)">2</button>
    <button onclick="enterDigit(3)">3</button>
    <br>
    <button onclick="enterDigit(4)">4</button>
    <button onclick="enterDigit(5)">5</button>
    <button onclick="enterDigit(6)">6</button>
    <br>
    <button onclick="enterDigit(7)">7</button>
    <button onclick="enterDigit(8)">8</button>
    <button onclick="enterDigit(9)">9</button>
    <br>
    <button onclick="enterDigit(0)">0</button>
    <button onclick="clearPin()">Clear</button>
  </div>
</div>

<script>
  // This is a pin-input overlay to increase security
  var pin = "";
  var overlay = document.getElementById("overlay");
  var pinInput = document.getElementById("pinInput");

  function enterDigit(digit) {
    if (pin.length < 4) {
      pin += digit;
      pinInput.value = "*".repeat(pin.length);
      if (pin.length === 4) {
        if (pin === "0000") {
          overlay.style.display = "none";
        } else {
          clearPin();
        }
      }
    }
  }

  function clearPin() {
    pin = "";
    pinInput.value = "";
  }

  function showOverlay() {
    overlay.style.display = "flex";
    clearPin();
  }

  // window.addEventListener("blur", showOverlay);
  // window.addEventListener("focus", showOverlay);
  // window.addEventListener("deviceorientation", showOverlay);
  // window.addEventListener("devicemotion", showOverlay);

  $(document).ready(function() {
    // Restore state from cookie
    var closedCards = Cookies.get('closedCards');
    if (closedCards) {
        closedCards = JSON.parse(closedCards);
        closedCards.forEach(function(id) {
            var card = $('#' + id);
            card.addClass('closed-card');
            card.find('.vertical-line').hide();
            card.find('.card-info-container').hide();
        });
    }
    // Show open cards
    $('.info_container:not(.closed-card) .card-info-container').slideToggle();
    $('.info_container:not(.closed-card) .vertical-line').fadeToggle();

    // Save state to cookie when a card is clicked
    
      $('.info-header-container').click(function() {
        let cardInfoContainer = $(this).next('.card-info-container');
        let icon = $(this).find('.vertical-line');
        let parentContainer = $(this).parent();

        icon.fadeToggle()
        cardInfoContainer.slideToggle();
        parentContainer.toggleClass('closed-card');        

        var closedCards = $('.closed-card').map(function() {
          return this.id;
        }).get();
        Cookies.set('closedCards', JSON.stringify(closedCards));
      });
    });

      // Add a click event to all 'budo_family' cells
      $('.budo_family').click(function() {
          // Get the clicked 'budo_family' value
          var clickedValue = $(this).text();
    
          // Hide all rows
          $('.table_row').hide();
    
          // Show only the rows with the clicked 'budo_family' value
          $('.table_row').filter(function() {
            return $(this).find('.budo_family').text() === clickedValue;
        }).show();
      });

  
</script>
</body>
</html>