{% load static %}
<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="budo-request-path" content="{{ request_path }}" />
    <title>BuDoBase</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link id="react-app-styles" rel="stylesheet" href="{% static 'frontend/app.css' %}" media="all" />
    <script type="module" src="{% static 'frontend/app.js' %}"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
