{% extends 'master.html' %} 
{% block headertitle %}
    <h1>{{ schwerpunkt.swp_name }}</h1>
{% endblock %} 
{% block content %}
<div class="flex-container" id="body-container">
  <div class="detail-column" id="left-column">
    <div class="card" id="swp-detail-info">
      <div class="info-header-container">
        <h2>{{ schwerpunkt.swp_name }}</h2>{% include "components/openicon.html" %}
      </div>
      <div class="card-info-container">
        <p><span class="label">Beschreibung</span>: {{ schwerpunkt.beschreibung }}</p>
        <p><span class="label">Ort</span>: {{ schwerpunkt.ort }}</p>
        <p><span class="label">Auslagern</span>: {{ schwerpunkt.get_auslagern }}</p>
        <p><span class="label">Betreuende</span>: {{ schwerpunkt.get_betreuende_names }}</p>
        <p><span class="label">Wann</span>: {{ schwerpunkt.schwerpunktzeit }}</p>
        <p>
          <span class="label">Beginnt am</span>: {{ schwerpunkt.schwerpunktzeit.swp_beginn}}
        </p>
        
        <div class="card-table-container">
            <table class="card-table">
            <tr>
                <th></th>
                <th class="text-cell">Frühstück</th>
                <th class="text-cell">Mittagessen</th>
                <th class="text-cell">Abendessen</th>
            </tr>

            {% for day, meals in meals_by_day.items %}
            <tr>
                <td class="nowrap text-cell">Tag {{ day }}</td>
                {% for meal in meals %}
                <td class="text-cell">{{ meal.meal_choice }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </table>
        </div>
        {%if schwerpunkt.auslagern %}
        <p><span class="label">Geschätzte Abreise</span>: {{ schwerpunkt.geplante_abreise }}</p>
        <p><span class="label">Geschätzte Rückkehr</span>: {{ schwerpunkt.geplante_ankunft }}</p>
        {% endif %}
        <div class="button-container">
          <div class="form-buttons">
            <a
              href="{% url 'schwerpunkt-update' pk=schwerpunkt.pk %}"
              class="button"
              >SWP bearbeiten</a
            >
          </div>
          <div class="form-buttons">
            <a href="{% url 'swpmeals' pk=schwerpunkt.pk %}" class="button"
              >Essen bearbeiten</a
            >
          </div>
        </div>
      </div>
    </div>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKjziinDbcVzBum0oyIfx5eG4QPoxhpA4&callback=initMap" async defer></script>

    <script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: {lat: {{ schwerpunkt.ort.get_lat_ort }}, lng: {{ schwerpunkt.ort.get_lng_ort }}}
        });
    
        var marker1 = new google.maps.Marker({
            position: {lat: {{ schwerpunkt.ort.get_lat_ort }}, lng: {{ schwerpunkt.ort.get_lng_ort }}},
            map: map,
            title: 'Location 1'
        });
    
        
    }
    </script>
  </div>
  <div class="detail-column" id="right-column">
    <div class="table-container">
        <table class="" id="kids-table">
            <tr class="table-header">
                <th class="headcol">Name</th>
                <th>Familie</th>
                <th>⚧</th>
                <th>Alter</th>
                <th>Ernährung </th>
                <th>Medikamente</th>
                <th>Gesundheitliches</th>
                
            </tr>
            {% for x in schwerpunkt.swp_kinder.all %}
            <tr class="table_row w3-padding-large">
                  <td class="text-cell headcol" id="name"><a href="/kid_details/{{ x.id }}">
                    {{ x.kid_vorname }} {{ x.kid_nachname }}{% if not x.anwesend %} ❌{% endif %}</a></td>
                  <td class="item-cell budo_family">{{ x.budo_family }}</td>
                  <td class="item-cell sex">{{ x.get_short_sex }}</td>
                  <td class="number-cell" id="alter"> {% if x.is_birthday_during_turnus %}🥳 {% endif %} {{ x.get_alter }}</td>
                  <td class="text-cell">{{ x.get_food }}</td>
                  <td class="text-cell">{% if x.get_clean_drugs %}{{ x.get_clean_drugs }}{% else %} --- {% endif%} </td>
                  <td class="text-cell">{% if x.get_clean_illness %}{{ x.get_clean_illness }}{% else %} --- {% endif%}</td>
                  
            </tr>
            {% endfor %}
        </table>
    </div>
  </div>
</div>
{% endblock content %}
