{% extends 'master.html' %}
{% load static %}

{% block headertitle %}
<h1>Schwerpunkte</h1>
{% endblock %}

{% block headerbutton %}
<a href="/schwerpunkt/create" class="button">SWP hinzufügen</a>
{% endblock %}

{% block extrahead %}
{% include "components/mapheader.html" %}
{% endblock %}

{% block content %}
<div class="flex-container" id="body-container">
    <div class="detail-column" id="left-column">
        {% include "components/map.html" %}
    </div>

    <div class="detail-column normal-column" id="right-column">
        {% if schwerpunkte_u %}
        {% include "components/swp_table.html" with title="Unklar Wann" week="u" %}
        {% endif %}
        {% include "components/swp_table.html" with title="Woche 1" week="w1" %}
        {% include "components/swp_table.html" with title="Woche 2" week="w2" %}
    </div>
</div>
{% endblock content%}