{% extends "master.html" %}

{% block title %}
  BuDo Kids Alle Kinder
{% endblock %}


{% block content %}
  <h1><a href="https://www.youtube.com/watch?v=D9K-bA_MRTM">Alle Kinder</a></h1>

  <p><a href="/">HOME</a></p>
  <p>Gesamtzahl an Kids: {{ kid_totalnumbers }}</p>
  <a href="/postprocess" class="w3-button">Jetzt in Familien einteilen!</a>
  <div class="w3-responsive">
      <table class="w3-table w3-striped">
          <tr>
              <th>Name</th>
              <th>Alter</th>
              <th>Geburtstag</th>
              <th>Budo Familie</th>
          </tr>
          {% for x in kids %}
          <tr class="table_row">
                <td class="" id="name"><a href="kid_details/{{ x.id }}">{{ x.kid_vorname }} {{ x.kid_nachname }}</a></td>
                <td>{{ x.kid_alter }}</td>
                <td id="birthday">{{ x.kid_birthday }}</td>
                <td id="budo_family"><a href="/budo_familie/{{ x.budo_family }}">{{ x.budo_family }}</a></td>
          </tr>
          {% endfor %}
      </table>
  </div>
{% endblock %}