:root {
  --text-color: rgb(55, 55, 55);
  --blue: rgba(183, 220, 255, 0.34);
  --dark-blue: rgba(179, 202, 217, 0.95);
  --bg-blue: rgba(222, 240, 255, 0.7);
  --bg-blue__solid: rgba(222, 240, 255, 1);
  --grey: #dddddd;
  --str-padding: 24px;
  --corner-rad: 8px;
  --xs-padding: 6px;
  --s-padding: 12px;
  --m-padding: 16px;
  --l-padding: 20px;
  --xl-padding: 24px;
  --button-color: #ffdd9b;

  --z-search-results: 2;
  --z-table-header: 2;
  --z-headcol: 3;
  --z-th-headcol: 4;
  --z-interaction-bar: 80;
  --z-toggle-button: 80;
  --z-headermenu: 80;
  --z-sidebar: 99;
  --z-map-modal: 999;
  --z-modal: 999;
  --z-expand-icon: 1000;
  --z-overlay: 9999;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}

h1 {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0px;
}

a {
  color: var(--text-color);
  font-weight: 400;
}

input {
  border-radius: var(--corner-rad);
  border: 2px solid white;
  padding: var(--xs-padding);
}

select {
  border-radius: var(--corner-rad);
  padding: var(--xs-padding);
}

.input-container input:focus-visible {
  border: 2px solid var(--grey);
}

/* used for table-cells mostly */
.nowrap {
  white-space: nowrap;
}

/*------- Header ---------*/
#headertitle {
  display: inline-block;
}

#headermenu {
  display: flex;
  justify-content: center;
  padding: var(--xl-padding);
  background: linear-gradient(
      92.05deg,
      #fff4de 7.23%,
      rgba(153, 146, 133, 0.17) 98.57%
    ),
    radial-gradient(
      59.33% 87.53% at 38.82% 60.76%,
      #ffffff 0%,
      #f7ebe0 22%,
      #999999 100%
    );
  position: sticky;
  top: 0;
  z-index: var(--z-headermenu);
  flex: 0 1 100vw;
}

#header-content {
  align-self: stretch;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: var(--m-padding);
  justify-content: space-between;
  align-items: center;
  padding: 0;
  flex: 0 1 100vw;
}

#headersearch {
  align-self: stretch;
  flex: 1 1 auto;
  display: flex;
  position: relative;
  align-items: baseline;
}

#headersearch input {
  margin: 0;
  border-radius: var(--corner-rad);
  align-self: stretch;
  flex: 1 1 auto;
  min-width: 0;
}

#headermenu #navmenu-container {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

#menu-button {
  display: none;
  background-color: transparent;
  font-size: 30px;
  padding: 0;
}

@media only screen and (min-width: 760px) and (max-width: 1080px) {
  #headermenu #navmenu-container {
    display: none;
  }

  #menu-button {
    display: block;
  }
}

@media only screen and (max-width: 759px) {
  #headermenu #navmenu-container,
  .desktop-navbar {
    display: none;
  }

  #menu-button {
    display: block;
  }
  #headertitle {
    order: 3;
  }
  #headerbutton {
    order: 4;
  }
}

#navmenu-container a {
  text-decoration: none;
  white-space: nowrap;
}

#navmenu-container a:hover {
  background-color: #acacac;
}

.search-results {
  position: absolute;
  top: 43.2px;
  background-color: white;
  /* border: 1px solid #ccc; */
  overflow-y: auto;
  display: none;
  z-index: var(--z-search-results);
  left: 0;
  right: 0;
  border-radius: 0 0 var(--corner-rad) var(--corner-rad);
}

.search-results div {
  padding: var(--s-padding);
  cursor: pointer;
}

.search-results a {
  text-decoration: none;
}

.search-results div:hover {
  background-color: var(--bg-blue);
}

#myInput:focus + .search-results {
  display: block;
}

/* ----------mobile menu ----------*/

#sidebar-container {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: var(--z-sidebar);
  transition: transform 1s ease-out;
  transform: translateX(-100%);
}

#sidebar-container.open {
  transform: translateX(0);
  display: flex;
}

#mySidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: var(--dark-blue);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--m-padding);
}

#mySidebar a {
  text-decoration: none;
  font-size: 1.3rem;
}

#sidebar-close-area {
  background-color: transparent;
  width: 100%;
}

@media only screen and (max-width: 759px) {
  h1 {
    font-size: 1.5rem;
  }
  #mySidebar {
    width: 100vw;
  }
  #sidebar-close-area {
    display: none;
  }
}

#mySidebar div {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--m-padding);
}

#mySidebar.open {
  width: 250px;
}

button.closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  font-size: 30px;
}

/* ----------body ----------*/

#body-container {
  min-height: 100vh;
  position: relative;
  background: url("img/BudoMap20a.png"),
    radial-gradient(
      59.33% 87.53% at 38.82% 60.76%,
      #ffffff 0%,
      #f7ebe0 22%,
      #999999 100%
    );
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  gap: var(--l-padding);
  padding: var(--l-padding);
}

#body-container.table-only {
  padding: 0 var(--l-padding);
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.detail-column {
  display: flex;
  flex-basis: 25%;
  min-width: 350px;
  flex-grow: 1;
  flex-flow: column nowrap;
  gap: var(--l-padding);
}

@media only screen and (max-width: 760px) {
  .detail-column {
    min-width: 300px;
  }
}

#right-column {
  flex-basis: 40%;
}

#right-column.normal-column {
  flex-basis: 20%;
}

#right-column:has(#ort-detail-info) {
  max-width: 300px;
}

#body-container:has(#single-column) {
  justify-content: center;
  flex-wrap: nowrap;
}

#single-column {
  max-width: 500px;
}

/* ---------card------------- */

.card {
  border-radius: var(--corner-rad);
  background-color: var(--bg-blue);
  box-shadow: #acacac 4px 4px 4px;
}

.transparent {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.transparent .transparent {
  padding-left: var(--xl-padding);
  padding-right: var(--xl-padding);
}

.transparent > .info-header-container {
  background-color: transparent;
  padding-left: var(--xs-padding);
  padding-right: var(--xs-padding);
}

.transparent > .card-info-container {
  padding-left: 0;
  padding-right: 0;
}

.transparent .table-container {
  background-color: transparent;
}

.meal-table {
  border-radius: var(--corner-rad);
  padding: var(--m-padding);
  overflow: hidden;
}

/* ----------------- Map ----------------- */

/* Modal styles */
.card.map-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-blue);
  z-index: var(--z-map-modal);
  padding: var(--l-padding);
  box-shadow: none;
  overflow: auto;
}

.card.map-modal .info-header-container {
  display: none;
}

.card.map-modal .card-info-container {
  display: block;
  padding-top: 0;
}

.card.map-modal .leaflet-gl-layer.maplibregl-map {
  width: 100vw !important;
  height: 100vh !important;
}

.card.map-modal #map {
  width: 98vw;
  height: 95vh;
}

.expand-icon {
  cursor: pointer;
  font-size: 24px;
  margin-left: auto;
  position: absolute;
  right: var(--xl-padding);
  top: var(--xl-padding);
  z-index: var(--z-expand-icon);
}

@media print {
  .card {
    /* page-break-before: always; */
    break-inside: avoid;
    box-shadow: none;
  }
  .card .card-info-container p {
    margin-bottom: 0.5rem;
    /* text-decoration: none; */
  }
  .card a {
    text-decoration: none;
  }

  .card .info-header-container .icon {
    display: none !important;
  }

  .card .card-info-container {
    display: block !important;
  }
  div.print-nobreak {
    break-inside: avoid;
  }
  #headermenu {
    display: none;
  }
  #db-spezial {
    display: none;
  }

  #myFilterInput {
    display: none;
  }

  table,
  th,
  td {
    display: table-cell !important;
  }
}

.card :is(h1, h2) {
  text-align: left;
}

.card p {
  margin-bottom: 4px;
}

.card span.label {
  font-weight: 500;
}

.card-table-container {
  padding-top: var(--m-padding);
  padding-bottom: var(--m-padding);
}

.card-table :is(th, td) {
  padding-right: var(--s-padding);
}

.input-container p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--m-padding);
}

.input-container label {
  width: 180px;
  font-weight: 500;
}

.input-container input {
  border-radius: var(--corner-rad);
}

.input-container input[type="checkbox"] {
  height: 24px;
  width: 24px;
  border: none;
  border-radius: var(--corner-rad) !important;
}

.info-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  border-radius: var(--corner-rad) var(--corner-rad) 0 0;
  padding: var(--m-padding) var(--xl-padding);
  cursor: pointer;
}

.info-header-container div {
  display: inline-block;
}

.info-header-container .mini-container {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--s-padding);
}

.closed-card .info-header-container {
  border-radius: var(--corner-rad);
}

/*---icon +/- changes based on the parent container class .closed-card,
which is changed through js--------------------------------------*/
.vertical-line {
  display: none;
}

.closed-card .vertical-line {
  display: block;
}

.card-info-container {
  padding: var(--str-padding);
  display: none;
}

.input-container .card-info-container {
  display: block;
}

.input-container .card-info-container form {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--m-padding);
}

button,
.button {
  background-color: var(--button-color);
  padding: var(--s-padding);
  border: none;
  border-radius: var(--corner-rad);
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

button a {
  text-decoration: none;
  font-weight: 300;
}

#anwesend-marker {
  color: green;
}

/* --------------- Ja-Nein-Toggle */
.switch {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 1px solid #000000;
  border-radius: 32px;
  cursor: pointer;
  overflow: hidden; /* Hide overflow */
  height: 40px;
}

.inner-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px;
  gap: 8px;
  width: auto;
  height: 100%; /* Ensure it takes the full height of the parent */
}

.inner-switch p {
  text-align: center;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
}

.ja > :first-child,
.nein :nth-child(2) {
  background: #b3cad9;
  box-shadow: inset 0 0 0 1px #000000;
  border-radius: 32px;
  margin: -1px; /* Overlap the border on all sides */
  height: calc(100% + 2px); /* Adjust height to cover top and bottom borders */
}

/* ---- Table ------------- */

.table-container:has(#kids-table) {
  max-height: 80vh;
  overflow: auto;
  border-radius: var(--corner-rad);
}

#kids-table {
  border-radius: var(--corner-rad);
  /* overflow: hidden; It's super important that the overflow is not hidden, otherwise sticky elements don't work!*/
}

.table-header th {
  background-color: var(--dark-blue);
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: var(--z-table-header);
}

.table-header th::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #8f8f8f;
  z-index: 3;
  box-sizing: border-box;
}

#kids-table td,
#kids-table th,
.meal-table td,
.meal-table th {
  padding: var(--s-padding);
  vertical-align: top;
}

#kids-table td.headcol {
  position: sticky;
  left: 0;
  z-index: var(--z-headcol);
  background-color: var(--dark-blue);
}

#kids-table th.headcol {
  z-index: var(--z-th-headcol);
  left: 0;
  top: 0;
  background-color: var(--dark-blue);
}

.meal-table tr,
#kids-table tr {
  background-color: var(--bg-blue);
  border-bottom: 1px solid #8f8f8f;
  padding: var(--m-padding);
}

.meal-table tr:last-of-type,
#kids-table tr:last-of-type {
  border-bottom: none;
}

#kids-table a {
  text-decoration: none;
}

#kids-table a:hover {
  border-radius: var(--corner-rad);
  box-shadow: #8f8f8f;
}

.filter-table {
  margin-top: 20px;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}

table #name {
  font-weight: 500;
}

table #alter {
  white-space: nowrap;
}

.text-cell {
  text-align: left;
}

.number-cell {
  text-align: right;
}

.item-cell {
  text-align: center;
}

/*-----------Schwerpunkte---------*/
#id_betreuende {
  display: flex;
  flex-flow: row wrap;
  gap: var(--m-padding);
}

#id_betreuende div {
  display: flex;
  align-content: center;
}

#id_betreuende div label {
  width: auto;
}

.meal-input {
  display: flex;
  justify-content: flex-start;
  gap: var(--xl-padding);
}

.meal-input label {
  padding-left: var(--xl-padding);
  font-weight: normal;
}

.meal-input:has(input[type="hidden"]) {
  display: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--xl-padding);
}

.info-header-container .button-container {
  padding-top: 0;
}

#map {
  height: 70vh;
  border-radius: var(--corner-rad);
  box-shadow: #acacac 4px 4px 4px;
  z-index: 1;
}

.leaflet-text a {
  font-size: 20px;
  white-space: nowrap;
  text-decoration: none;
  color: var(--text-color);
}

/* ------------kitchen/Küche ------------*/
.meal-container {
  display: flex;
  flex-flow: row wrap;
  gap: var(--l-padding);
}

.meal-card {
  width: 100%;
}

.schwerpunkt-container {
  display: flex;
  flex-flow: row wrap;
  gap: var(--l-padding);
  width: 100%;
  padding-right: 44px;
}

.schwerpunkt-container .card {
  width: 100%;
  height: fit-content;
}

.table-column {
  flex-basis: 60%;
  flex-grow: 1;
}

/*---------Spezialdokumente------*/
.serienbrief_name {
  font-size: 3em;
}

.serienbrief {
  font-size: 1.2em;
}

.serienbrief-container {
  border: 1px solid black;
  padding: var(--xl-padding);
  margin-bottom: var(--l-padding);
}

.serienbrief-kid {
  padding-left: 94px;
  padding-right: 94px;
}

@media print {
  .serienbrief_name {
    page-break-before: always;
  }
}

.murder-container {
  display: flex;
  flex-flow: row wrap;
  gap: var(--xl-padding);
  padding: var(--xl-padding);
}

.murder_name {
  width: 200px;
}

h2.murder_name {
  padding-left: var(--xl-padding);
  padding-top: var(--xl-padding);
  width: auto;
}

/* ------------Anreise/Abreise */
.zug-switch {
  cursor: pointer;
}

/* --------------Abreisenotiz-Popup */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: var(--z-modal);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/* Modal Content */
.modal-content {
  display: flex;
  background-color: var(--bg-blue);
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  gap: var(--m-padding);
}

/* The Close Button */
.close {
  color: #232323;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.edit-notiz-btn,
.edit-freunde-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* ------------Numpad ---------*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-overlay);
}

.number-pad {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.number-pad button {
  margin: 5px;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
}

/* ------------interaction bar---------*/
#interaction-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--m-padding) var(--s-padding);
  position: sticky;
  width: 100vw;
  height: auto;
  left: 0px;
  bottom: 0px;

  background: linear-gradient(90.42deg, #c8c2bd -7.4%, #bdb8b4 94.69%);
  z-index: var(--z-interaction-bar);
}

#interaction-input {
  display: flex;
  max-width: 1000px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--m-padding);
  width: 100%;
}

#interaction-bar form {
  display: flex;
  flex-grow: 2;
  gap: var(--m-padding);
  height: fit-content;
  align-items: center;
  justify-content: center;
}

#interaction-bar form p {
  width: 60vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--m-padding);
  margin: 0;
  flex: 10 5 10;
}

#interaction-bar form input {
  width: 100%;
  height: 48px;
  flex: 10 5 10;
}

#interaction-bar form label {
  font-size: 0px;
}

#interaction-bar form label[for="id_notiz"]::after {
  content: "📝";
  font-size: 2.5rem;
  cursor: pointer;
}

#interaction-bar form label[for="id_amount"]::after {
  content: "💶";
  font-size: 2.5rem;
  cursor: pointer;
}

#interaction-bar form button {
  height: 48px;
  padding: 8px;
}

/* --------toggle all cards button----- */
.toggle-all-button {
  position: fixed;
  bottom: 110px;
  right: 20px;
  background-color: var(--button-color);
  padding: var(--s-padding);
  border-radius: var(--corner-rad);
  cursor: pointer;
  z-index: var(--z-toggle-button);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toggle-all-button.no-bar {
  bottom: 20px;
}

.toggle-all-button:hover {
  background-color: #e6c78b;
}

.hidden {
  display: none;
}

.print_only {
  display: none;
}

@media print {
  .print_only {
    display: block;
    padding: var(--xl-padding);
    font-size: 0.8rem;
  }

  #kids-table {
    font-size: 0.6rem;
  }

  #kids-table td,
  #kids-table th {
    padding: var(--xs-padding);
  }
}

/* -----auslagerorte ---- */
.auslagerorte-detail {
  display: flex;
  flex-wrap: wrap;
  gap: var(--l-padding);
}

.auslagerorte-detail #left-column {
  flex: 0 0 350px;
  max-width: 350px;
}

.auslagerorte-detail #right-column {
  flex: 1 1 350px;
  min-width: 350px;
}

.auslagerorte-detail #bottom-column {
  flex: 0 0 100%;
  width: 100%;
}

@media (max-width: 767px) {
  .auslagerorte-detail #left-column,
  .auslagerorte-detail #right-column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* #image-gallery .card-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: var(--xs-padding);
}
#image-gallery .card-info-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--corner-rad);
} */

/* #image-gallery .card-info-container {
  display: flex;
  flex-flow: row wrap;
  gap: var(--m-padding);
} */

/* #image-gallery .card-info-container img {
  max-width: 200px;
  height: auto;
} */

#image-gallery .gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-padding);
  /* margin: 0 -0.5rem; */
}

#image-gallery .card-info-container .gallery-item {
  background-position: center center;
  background-size: cover;
  flex: auto;
  height: 15vw;
  /* margin: 0 0.5rem 1rem; */
  max-height: 10rem;
  min-width: 150px;
  border-radius: var(--corner-rad);
  overflow: hidden;
  cursor: pointer;
}

#image-gallery .card-info-container .gallery-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

@media (max-width: 767px) {
  #image-gallery .card-info-container .gallery-item {
    height: 30vw;
  }
}

/* Fullscreen Modal */
.fullscreen-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.fullscreen-modal .image-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fullscreen-modal img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 16px;
  cursor: pointer;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

/* ------swp-wahl------- */
.swp-choice {
  display: flex;
  justify-content: space-around;
  gap: var(--xs-padding);
}

.swp-choice-link {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 100px;
  padding: var(--xs-padding) var(--s-padding);
  background-color: #fefefe61;
}

#kids-table .swp-choice-link:hover {
  border: 1px solid black;
  border-radius: 100px;
  padding: var(--xs-padding) var(--s-padding);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.05) translate(0px, -5px);
  transition: transform 0.1s ease-in-out;
}

#kids-table .swp-choice-link.one.active,
#kids-table .swp-choice-link.one:hover {
  background-color: gold;
}

#kids-table .swp-choice-link.two.active,
#kids-table .swp-choice-link.two:hover {
  background-color: silver;
}

#kids-table .swp-choice-link.three.active,
#kids-table .swp-choice-link.three:hover {
  background-color: #cd7f32;
}

@media screen and (max-width: 767px) {
  #db-spezial {
    display: none;
  }
}
