:root {
    --blue: rgba(183, 220, 255, 0.34);
    --dark-blue: rgba(179, 202, 217, 0.95);
    --bg-blue: rgba(222, 240, 255, 0.7);
    --str-padding: 24px;
    --corner-rad: 8px;
    --s-padding: 12px;
    --m-padding: 16px;
    --l-padding: 20px;
    --xl-padding: 24px;
    --button-color: #FFDD9B;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 21px;
    font-family: "Roboto";
    margin: 0px;
}

input {
    border-radius: var(--corner-rad);
}

body {
    font-family: "Roboto";
}

/*------- Header ---------*/
#headertitle {
    display: inline-block;
}

@media only screen and (min-width: 992px) {

    #headertitle {
        display: flex;
        align-items: baseline;
        flex-direction: row wrap;
        justify-content: flex-start;
        column-gap: 30px;
    }
}


#headermenu {
    display: flex;
    justify-content: center;
    padding: var(--xl-padding);
    background: linear-gradient(92.05deg, #FFF4DE 7.23%, rgba(153, 146, 133, 0.17) 98.57%);
    position: sticky;
    top: 0;
    z-index: 2;
}

#header-content {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--xl-padding);
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#header-content #headertitle a,
h1 {
    text-decoration: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

#headersearch {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

#headersearch input {
    margin: 0;
    border-radius: var(--corner-rad);
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 50px;
}

#navmenu-container {
    display: flex;
    justify-content: space-between;
    gap: 22px;
}

@media screen and (max-width: 1100px) {
    #navmenu-container {
        display: none;
    }

    #header-content {
        flex-wrap: wrap;
    }
}

#navmenu-container a {
    text-decoration: none;
    white-space: nowrap;
}

#navmenu-container a:hover {
    background-color: #acacac;
}

.search-results {
    position: absolute;
    top: 43.2px;
    background-color: white;
    /* border: 1px solid #ccc; */
    overflow-y: auto;
    display: none;
    z-index: 2;
    left: 0;
    right: 0;
    border-radius: 0 0 var(--corner-rad);
}

.search-results div {
    padding: var(--s-padding);
    cursor: pointer;
}

.search-results a {
    text-decoration: none;
}

.search-results div:hover {
    background-color: var(--bg-blue);
}

#myInput:focus+.search-results {
    display: block;
}

#body-container {
    min-height: calc(100vh - 92px);
    position: relative;
    background: url("img/BudoMap20a.png"), radial-gradient(59.33% 87.53% at 38.82% 60.76%, #FFFFFF 0%, #F7EBE0 22%, #999999 100%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    gap: var(--l-padding);
    padding: var(--l-padding);
}

#body-container:has(.table-container) {
    padding: 0 var(--l-padding);
}


.detail-column {
    display: flex;
    flex-basis: 25%;
    min-width: 350px;
    flex-grow: 1;
    flex-flow: column nowrap;
    gap: var(--l-padding);

}

#right-column {
    flex-basis: 40%;
}

#body-container:has(#single-column) {
    justify-content: center;
}

#single-column {
    flex-basis: 40%;
}

.card {
    border-radius: var(--corner-rad);
    background-color: var(--bg-blue);
    box-shadow: #acacac 4px 4px 4px;
}

.card :is(h1, h2) {
    text-align: left;
}

.card span.label {
    font-weight: bold;
}

.input-container p {
    display: flex;
    justify-content: flex-start;
}

.input-container label {
    flex-basis: 20%;

}

.input-container input {
    flex-basis: 20%;
    border-radius: var(--corner-rad);
    align-self: flex-start;

}

.info-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    border-radius: var(--corner-rad) var(--corner-rad) 0 0;
    padding: var(--m-padding) var(--xl-padding);
    cursor: pointer;
}

.info-header-container div {
    display: inline-block;
}

.closed-card .info-header-container {
    border-radius: var(--corner-rad);
}

.vertical-line {
    display: none;
}

.closed-card .vertical-line {
    display: block;
}

.card-info-container {
    padding: var(--str-padding);
    display: none;
}

.input-container .card-info-container {
    display: block;
}

button,
.button {
    background-color: var(--button-color);
    padding: var(--s-padding);
    border: none;
    border-radius: var(--corner-rad);
    color: black;
    text-decoration: none;
}

#anwesend-marker {
    color: green;
}


/* ---- Table ------------- */

.table-container {
    overflow: scroll;
    border-radius: var(--corner-rad);
}

#kids-table {
    border-radius: var(--corner-rad);
    padding: var(--m-padding);
}

#kids-table .table-header {
    background-color: var(--dark-blue);
    border-radius: var(--corner-rad);
    /* position: sticky;
    top: 0;
    z-index: 2; */
}

.table-header th {
    white-space: nowrap;
    cursor: pointer;
}


.table-header th::after {
    content: url("img/sort.svg");
    padding-left: 5px;
    display: inline-block;
}

.table-header th:hover {}

#kids-table td,
th {
    padding: var(--s-padding);
    vertical-align: top;
}

#kids-table tr {
    background-color: var(--bg-blue);
    border-bottom: 1px solid #8F8F8F;
    padding: var(--m-padding);
}

#kids-table tr:last-of-type {
    border-bottom: none;
}

#kids-table a {
    text-decoration: none;
}

#kids-table a:hover {
    /* background-color: #dcdcdc93; */
    border-radius: var(--corner-rad);
    /* padding: var(--s-padding); */
    box-shadow: #8F8F8F;
}

.filter-table {
    margin-top: 20px;
}

table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
}

table #name {
    font-weight: bold;
    white-space: nowrap;
}

.text-cell {
    text-align: left;
}

.number-cell {
    text-align: right;
}

.item-cell {
    text-align: center;
}

/* ------------Numpad ---------*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.number-pad {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.number-pad button {
    margin: 5px;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
}