:root {
    --text-color: rgb(55, 55, 55);
    --blue: rgba(183, 220, 255, 0.34);
    --dark-blue: rgba(179, 202, 217, 0.95);
    --bg-blue: rgba(222, 240, 255, 0.7);
    --bg-blue__solid: rgba(222, 240, 255, 1);
    --grey: #dddddd;
    --str-padding: 24px;
    --corner-rad: 8px;
    --xs-padding: 6px;
    --s-padding: 12px;
    --m-padding: 16px;
    --l-padding: 20px;
    --xl-padding: 24px;
    --button-color: #FFDD9B;
}

.nowrap{
    white-space: nowrap;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 21px;
    font-family: "Roboto";
    margin: 0px;
}

a {
    color: var(--text-color)
}

input {
    border-radius: var(--corner-rad);
    border: 2px solid white;
    padding: var(--xs-padding);
}

select {
    border-radius: var(--corner-rad);
    padding: var(--xs-padding);
}

.input-container input:focus-visible {
    border: 2px solid var(--grey);
}

body {
    font-family: "Roboto";
}

/*------- Header ---------*/
#headertitle {
    display: inline-block;
}




#headermenu {
    display: flex;
    justify-content: center;
    padding: var(--xl-padding);
    background: linear-gradient(92.05deg, #FFF4DE 7.23%, rgba(153, 146, 133, 0.17) 98.57%), radial-gradient(59.33% 87.53% at 38.82% 60.76%, #FFFFFF 0%, #F7EBE0 22%, #999999 100%);
    position: sticky;
    top: 0;
    z-index: 98;
}

/* #headermenu:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
} */

#header-content {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--m-padding);
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#header-content #headertitle a,
h1 {
    text-decoration: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

#headersearch {
    align-self: stretch;
    flex-grow: 1;
    /* min-width: 200px; */
    display: flex;
    flex-direction: column;
    position: relative;
}

#headersearch input {
    margin: 0;
    border-radius: var(--corner-rad);
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 50px;
}

#headermenu #navmenu-container {
    display: flex;
    justify-content: space-between;
    gap: 22px;
}

#menu-button{
    display: none;
    background-color: transparent;
    font-size: 30px;
    padding: 0;
}

/* @media only screen and (min-width: 992px) {

    #headertitle {
        display: flex;
        align-items: baseline;
        flex-direction: row wrap;
        justify-content: flex-start;
        column-gap: 30px;
    }
} */

@media only screen and (min-width: 760px) and (max-width: 920px) {
    #headermenu #navmenu-container {
        display: none;
    }

    /* #header-content {
        flex-wrap: wrap;
    } */

    #menu-button{
        display: block;
    }

}

@media only screen and (max-width: 759px) {
    #headermenu #navmenu-container, .desktop-navbar {
        display: none;
    }

    /* #header-content {
        flex-wrap: wrap;
    } */

    #menu-button{
        display: block;
    }
    #headertitle{
        display: none;
    }

}

#navmenu-container a {
    text-decoration: none;
    white-space: nowrap;
}

#navmenu-container a:hover {
    background-color: #acacac;
}

.search-results {
    position: absolute;
    top: 43.2px;
    background-color: white;
    /* border: 1px solid #ccc; */
    overflow-y: auto;
    display: none;
    z-index: 2;
    left: 0;
    right: 0;
    border-radius: 0 0 var(--corner-rad) var(--corner-rad);
}

.search-results div {
    padding: var(--s-padding);
    cursor: pointer;
}

.search-results a {
    text-decoration: none;
}

.search-results div:hover {
    background-color: var(--bg-blue);
}

#myInput:focus+.search-results {
    display: block;
}

#sidebar-container{
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    transition: transform 1s ease-out;
    transform: translateX(-100%);
}

#sidebar-container.open {
    transform: translateX(0);
    display: flex;
  }

#mySidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--dark-blue);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    /* padding-left: var(--xl-padding);
    padding-right: var(--xl-padding); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* z-index: 99; */
    gap: var(--m-padding);
  }

  #sidebar-close-area{
    background-color: transparent;
    width: 100%;
  }

  @media only screen and (max-width: 759px) {
    #mySidebar{
        width:100vw;
    }
    #sidebar-close-area{
        display:none;
    }
}

  #mySidebar div{
    display: flex;
    flex-flow: column nowrap;
    gap: var(--m-padding);
  }
  
  #mySidebar.open {
    width: 250px;
  }

button.closebtn{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    font-size: 30px;
}

#body-container {
    min-height: calc(100vh - 92px);
    position: relative;
    background: url("img/BudoMap20a.a72f19e16ece.png"), radial-gradient(59.33% 87.53% at 38.82% 60.76%, #FFFFFF 0%, #F7EBE0 22%, #999999 100%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    gap: var(--l-padding);
    padding: var(--l-padding);
}

#body-container.table-only {
    padding: 0 var(--l-padding);
    flex-flow: column nowrap;
    justify-content: flex-start;
}


.detail-column {
    display: flex;
    flex-basis: 25%;
    min-width: 350px;
    flex-grow: 1;
    flex-flow: column nowrap;
    gap: var(--l-padding);
}

#right-column {
    flex-basis: 40%;
}

#right-column.normal-column{
    flex-basis:20%;
}

#right-column:has(#ort-detail-info){
    max-width: 300px;
}

#body-container:has(#single-column) {
    justify-content: center;
    flex-wrap: nowrap;
}

#single-column {
    max-width: 500px;
}

.card {
    border-radius: var(--corner-rad);
    background-color: var(--bg-blue);
    box-shadow: #acacac 4px 4px 4px;
    /* backdrop-filter: blur(10px); */
}

.transparent{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.transparent > .info-header-container{
    background-color: transparent;
}

.transparent .table-container{
    background-color: transparent;
}

.meal-table{
    border-radius: var(--corner-rad);
    padding: var(--m-padding);
    overflow: hidden;
}


@media print {
    .card {
        /* page-break-before: always; */
        break-inside: avoid;
        box-shadow: none;
    }
    .card .card-info-container p{
        margin-bottom: 0.5rem;
        /* text-decoration: none; */
    }
    .card a{
        text-decoration: none;
    }

    .card .info-header-container .icon{
        display: none !important;
    }

    .card .card-info-container{
        display: block !important;
    }
    div.print-nobreak{
       break-inside: avoid; 
    }
    #headermenu{
        display: none;
    }
    #db-spezial{
        display: none;
    }

    #myFilterInput{
        display: none;
    }

    table, th, td {
        display: table-cell !important;
    }
}

.card :is(h1, h2) {
    text-align: left;
}

.card p{
    margin-bottom: 4px;
}

.card span.label {
    font-weight: bold;
}

.card-table-container{
    padding-top: var(--m-padding);
    padding-bottom: var(--m-padding);
}

.card-table :is(th, td){
    padding-right: var(--s-padding);
}

/* .input-container .card-info-container{
    display:block;
} */

.input-container p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--m-padding);
}

.input-container label {
    /* flex-basis: 1; */
    /* align-self: center; */
    width: 180px;
    font-weight: bold;
}

.input-container input {
    /* flex-basis: 30%; */
    border-radius: var(--corner-rad);
    /* align-self: center; */
    /* align-self: flex-start; */
}

.input-container input[type="checkbox"] {
    height: 24px;
    width: 24px;
    border: none;
    border-radius: var(--corner-rad) !important;
}

.info-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    border-radius: var(--corner-rad) var(--corner-rad) 0 0;
    padding: var(--m-padding) var(--xl-padding);
    cursor: pointer;
}

.info-header-container div {
    display: inline-block;
}

.closed-card .info-header-container {
    border-radius: var(--corner-rad);
}

/*---icon +/- changes based on the parent container class .closed-card,
which is changed through js--------------------------------------*/
.vertical-line {
    display: none;
}

.closed-card .vertical-line {
    display: block;
}

.card-info-container {
    padding: var(--str-padding);
    display: none;
}

.input-container .card-info-container {
    display: block;
}

.input-container .card-info-container form {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--m-padding);
}

button,
.button {
    background-color: var(--button-color);
    padding: var(--s-padding);
    border: none;
    border-radius: var(--corner-rad);
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

#anwesend-marker {
    color: green;
}

/* --------------- Ja-Nein-Toggle */
.switch {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: 1px solid #000000;
    border-radius: 32px;
    cursor: pointer;
    overflow: hidden; /* Hide overflow */
    height: 40px;
}

.inner-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;
    gap: 8px;
    width: auto;
    height: 100%; /* Ensure it takes the full height of the parent */
}

.inner-switch p {
    text-align: center;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
}

.ja > :first-child,
.nein :nth-child(2) {
    background: #b3cad9;
    box-shadow: inset 0 0 0 1px #000000;
    border-radius: 32px;
    margin: -1px; /* Overlap the border on all sides */
    height: calc(100% + 2px); /* Adjust height to cover top and bottom borders */
}

/* ---- Table ------------- */

.table-container:has(#kids-table) {
    max-height: 80vh;
    overflow: auto;
    border-radius: var(--corner-rad);
}


#kids-table {
    border-radius: var(--corner-rad);
    padding: var(--m-padding);
    overflow: hidden;
}

/* #kids-table .table-header {
    border-radius: var(--corner-rad);
} */

.table-header th {
    background-color: var(--dark-blue);
    white-space: nowrap;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 2;
}

.table-header th::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #8F8F8F;
    z-index: 3;
    box-sizing: border-box;
}

#kids-table td,
#kids-table th, 
.meal-table td,
.meal-table th {
    padding: var(--s-padding);
    vertical-align: top;
}

.headcol {
    position: sticky;
    left: 0;
    z-index: 2;
}

#kids-table td.headcol {
    background-color: var(--dark-blue);
}

th.headcol {
    z-index: 3;
}

.meal-table tr, #kids-table tr {
    background-color: var(--bg-blue);
    border-bottom: 1px solid #8F8F8F;
    padding: var(--m-padding);
}

.meal-table tr:last-of-type, #kids-table tr:last-of-type {
    border-bottom: none;
}

#kids-table a {
    text-decoration: none;
}

#kids-table a:hover {
    /* background-color: #dcdcdc93; */
    border-radius: var(--corner-rad);
    /* padding: var(--s-padding); */
    box-shadow: #8F8F8F;
}

.filter-table {
    margin-top: 20px;
}

table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
}

table #name {
    font-weight: bold;
    /* white-space: nowrap; */
}

table #alter {
    white-space: nowrap;
}

.text-cell {
    text-align: left;
}

.number-cell {
    text-align: right;
}

.item-cell {
    text-align: center;
}

/*-----------Schwerpunkte---------*/
#id_betreuende {
    display: flex;
    flex-flow: row wrap;
    gap: var(--m-padding);
}

#id_betreuende div {
    display: flex;
    align-content: center;
}

#id_betreuende div label {
    width: auto;
}

.meal-input {
    display: flex;
    justify-content: flex-start;
    gap: var(--xl-padding);
}

.meal-input label {
    padding-left: var(--xl-padding);
    font-weight: normal;
}

.meal-input:has(input[type="hidden"]) {
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding-top: var(--xl-padding);
}

#map{
    height: 70vh;
    border-radius: var(--corner-rad);
    box-shadow: #acacac 4px 4px 4px;
    z-index: 1;
}

.leaflet-text a{
    font-size: 20px;
    white-space: nowrap;
    text-decoration: none;
    color: var(--text-color)
}

/* ------------kitchen/Küche ------------*/
.meal-container{
    display: flex;
    flex-flow: row wrap;
    gap: var(--l-padding);
}

.meal-card{
    width: 100%;
}

.schwerpunkt-container{
    display: flex;
    flex-flow: row wrap;
    gap: var(--l-padding);
    width:100%;
}

.schwerpunkt-container .card{
    /* flex-basis: 30%; */
    /* width: 282px; */
    
    height: fit-content;
}

.table-column{
    flex-basis: 60%;
    flex-grow: 1;
}

/*---------Spezialdokumente------*/
.serienbrief_name {
    font-size: 3em;
}

.serienbrief {
    font-size: 1.2em;
}

.serienbrief-container {
    border: 1px solid black;
    padding: var(--xl-padding);
    margin-bottom: var(--l-padding);
}

.serienbrief-kid {
    padding-left: 94px;
    padding-right: 94px;
}

@media print {
    .serienbrief_name {
        page-break-before: always;
    }
}

.murder-container{
    display: flex;
    flex-flow: row wrap;
    gap: var(--xl-padding);
    padding: var(--xl-padding);
}

.murder_name{
    width: 200px;
}

h2.murder_name{
    padding-left: var(--xl-padding);
    padding-top: var(--xl-padding);
    width: auto;
}

/* ------------Anreise/Abreise */
.zug-switch{
    cursor: pointer;
}

/* --------------Abreisenotiz-Popup */
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    z-index: 999;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.edit-notiz-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}


/* ------------Numpad ---------*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.number-pad {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.number-pad button {
    margin: 5px;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
}