<!-- Auf dieser Seite findet man alle BuDo-Familien. -->

{% extends "master.html" %}

{% block title %}
  BuDo Familien
{% endblock %}

{% block headertitle %}
<h1>BuDo Familien</h1>
{% endblock %}

{% block content %}
<div class="flex-container">
  {% for familie, info in familien.items %}
  <div class="card">
    <a href="/budo_familie/{{info.name}}">{{ info.name.title }}</a>
    {{ info.size }}
    <ul>
    {% for kid in info.kids %}
      <a href="/kid_details/{{ kid.id }}"><li>{{ kid.kid_vorname }} {{kid.kid_nachname}} - {{kid.kid_alter}}</li></a>
    {% endfor %}
    </ul>

  </div>
  {% endfor %}
</div>
{% endblock %}